@import "tailwindcss";

:root {
  --primary-color: #1F1D63;
  --secondary-color: #E1BF5E;
  --white-color: #FFFFFF;
  --heading-font: 'Playfair Display', serif;
  --body-font: 'Poppins', sans-serif;
}

* {
  /* margin: 0; */
  box-sizing: border-box;
}
/* 
body {
  font-family: var(--body-font);
  background-color: var(--white-color);
  color: var(--primary-color);
  overflow-x: hidden;
}

main {
  padding-top: 0; 
} */

/* Animation Keyframes */
/* @keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
} */
